/* ESTILOS CSS DE GESOL
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*CSS ESTILOS GENERALES*/

@font-face {
font-family: "Raleway";
src: url("../fonts/Raleway-Regular.ttf") format("truetype"),
     url("../fonts/Raleway-Regular.woff") format("woff");
}

.nav-item{
  margin-left: 15px;
}

.dropdown-menu .dropdown-menu-right{
  margin-bottom: 2px;
}

.navbar-toggler{
  margin-right: 10px;
}

.linea-encabezado{
  
  height: 0.5px;
  color: #28A745;
  background-color: #28A745;
  border: none;
}

body {
  /* Margin bottom by footer height */
  
  background-color: #F1F1F1;
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  body{
    font-size: 12px;
  }
}

.texto-azul{
  color:#3d89c8;
}

.alert, .alert-success,  .alert-dismissible{
  margin-bottom: 0px;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}



/*FIN CSS ESTILOS GENERALES*/





















/*
CSS BRAND CAROUSELL
*/
/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*fIN BRAND CAROUSELL*/








/*PARALLAX*/
.parallax { 
  /* The image used */
  background-image: url("../images/brands-background.jpeg");

  /* Set a specific height */
  height: 370px; 
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 120px;
  padding-bottom: 40px;
}
/*fin parallax*/








/*FOOTER*/


.footer{
  background-color: #333333;
  color: #fff;
  text-align:left;
  padding-top: 35px; 
}

.footer .alinear-izquierda{
  text-align: left;
}

.footer .redes{
  margin-left: 60px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.footer .redes > div a{
  width: 50px;
  height: 40px;
  display: inline-block;
  opacity: 0.3;

}

.footer .redes .email{
  background:url(../images/icons/googleplus.png);
  float: left;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.footer .redes .facebook{
  background:url(../images/icons/facebook.png);
  float: left;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.footer .redes .twitter{
  background:url(../images/icons/twitter.png);
  float: left;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.footer .redes .youtube{
  background:url(../images/icons/youtube.png);
  float: left;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.footer .redes div:hover{
  opacity: 1;
}

.col-footer{
  margin-top: 120px;
  margin-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
/*TERMINA FOOTER*/























/*CSS NUEVO RESET PASSWORD*/
#contenedor-email-reset, #contenedor-phone-reset{
  border-color:#3d89c8;
  border-style: solid;
  border-radius:6px;
  padding: 10px; 
  border-width: 1px;
}











/* CSS DEL NAVBAR */
.btn.focus, .btn:focus {
      outline: 0;
      box-shadow: none;
}
.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .nav-link:hover {
/* color: rgba(255,255,255,.5); */
  color: #FFF;
}
.dropdown-menu{
  background-color: #BBD035;
}
.dropdown-item{
  color: #FFF;
}
.dropdown-item:hover{
  color: rgba(255,255,255,.5);
  background-color: #BBD035;
}
.dropdown-item:focus{
  color: rgba(255,255,255,.5);
  background-color: #BBD035;
}
a {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}
.btn-link{
  color: #fff;
  border-color: transparent;
}
.btn-link:active, .btn-link:focus, .btn-link:hover {
  color: #fff;
  border-color: #FFF;
}
.btn-link.active, .btn-link:active, .btn-link:disabled {
  color: #fff;
  background-color: transparent;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.btn-secondary {
    /*color: #fff;*/
    background-color: #BBD035;
    border-color: transparent;
}



.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  /*color: #fff;*/
  background-color: #BBD035;
  border-color: #FFF;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    /*color: #fff;*/
    /*background-color: transparent;*/
    border-color: #FFF;
    box-shadow: 0 0 0 0 white;
}

/* FIN CSS DEL NAVBAR */

















/* CSS DEL SECTION */
.hero {
  margin: 0 auto;
  position: relative;
  /*width: 1200px;*/
  width: 1198px;
  z-index: 9;
}
/* FIN CSS DEL SECTION */












/* CSS DE LAS TABLAS */
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable > thead > tr > th{
  text-align: center;
}
.responstable > tbody > tr > td{
  text-align: center;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #BBD035;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child  {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 4  80px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 12em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}
/*   padding: 0 2em; */
/* FIN CSS DE LAS TABLAS*/











































/* CSS DE METRICAS */
.highcharts-background {
    fill: #E9ECEF;
}
.highcharts-button-symbol {
    stroke: #666666;
    stroke-width: 3px;
}
.highcharts-menu-item {
    padding: 0.5em 1em;
    background:none;
    color: #333333;
    cursor: pointer;
    transition: background 250ms, color 250ms;
}
.highcharts-menu-item:hover {
    color: #333333;
    background-color: #F1F1F1;
}
/* FIN DEL CSS DE METRICAS */
















/* CSS CAROUSERL INDEX */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* FIN CSS CAROUSERL INDEX */














/* CSS PARA LOS LINK DE PAGINA DE AYUDA */
#link-ayuda{
  color: #BBD035;
}
/* FIN CSS PARA LOS LINK DE PAGINA DE AYUDA*/

.portfolio-item {
  height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

















/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 80px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.nav-jj{
  position: fixed;  
}

.texto-azul{
  color:#3d89c8;
}



















/*Estilos comprobación de telefono en registro*/
#input-telefono{
  margin-bottom: 7px;
}

#input-token{
  letter-spacing: 4px;
  text-align:center;
  width: 130px;
}

#envoltorio-input-token{
  width: 130px;
}

#btn-telefono{
  float: right;
}

#contenedor-tel{
  border-color:#3d89c8;
  border-style: solid;
  border-radius:6px;
  padding: 10px; 
  border-width: 1px;
  margin-top: 15px;
}

.texto-gris{
  color: #696969;
  font-size: 14px;
  font-style: italic;
}

.invisible{
  margin-top: 15px;
  display: none;
}

#div-spin{
  display:inline;
}
/*Fin estilos comprobar teléfono*/
















/*Estilos para el gif cargando en formularios*/
#contenedor-error-load{
  margin-top: 10px;
  border-color:#DC3545;
  color:#DC3545;
  border-style: solid;
  border-radius:6px;
  border-width: 1px;
  font-size: 15px;
  display:none;
}

#contenedor-error-load p{
  margin-top: 7px;
  margin-right: 5px;
}

#div-loading{
  z-index:1000;
  position: fixed;
  top:50%;
  left:50%;
  display: none;
}

#oscurecer{
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.fa-spinner{
  color:#4169E1;
  z-index: 10000;
}

#letra-pequena-load{
  font-size: 15px;
  color:#4169E1;
  font-family: 'Century Gothic';
  src:url(/fonts/Raleway-Regular.ttf) format('truetype');
}













/*ESTILOS WEBCAM USUARIOS*/

#my_camera{
  width: 310px; 
  height:240px;
  margin-bottom: 20px;
  
}

video{
  border-radius: 30%;
}

.result_img{
  width:310px; 
  height:240px;
  border-radius: 30%;
  margin-top: 20px;  
}

.delete-container{
  border-style: solid;
  border-radius:6px;
  padding: 10px; 
  border-width: 1px;
  border-color: #DC3545;
}

#foto_container{
  margin-bottom: 20px;
}

.avatar-nav{
  height:45px;
  width: 45px;
  border-style: solid;
  border-radius: 100%;
  border-width: 2px;
  border-color: #ffff;
}





